/**
 * @file
 * Sass partial to handle TEI display.
 */

// Size of the text indent.
$indent:  .5in;

// Size of left and right margins content.
$margin: 15%;

// Grey used for deleted/damaged/unclear text.
$grey: #7f7f7f;

// Highlight colour.
$highlight: yellow;

// Characters used for quotes.
$single_quote: "'";
$double_quote: '"';

// Line height.
// XXX: Could get into trouble here, if the font size is ever changed.
$line_height_normal: 1.2em;
// Double line height is needed if you want to render super/sublinear lines.
$line_height_double: 3em;

.tei {
  // Reset elements inside our TEI wrapper.
  @import "compass/reset";

  margin: $margin;
  margin-top: $indent;
  margin-bottom: $indent;
  color: black;
  .p, p.epigraph {
    text-indent: $indent * 1;
  }

  & > div {
    position: relative;
    line-height: $line_height_normal;
    margin-right: auto;
    margin-left: auto;

    & > div.line-magic { 
      position: relative;
      z-index: 2;
      top: 0;
      .mod, .seg {
        // XXX: These elements are copied to the end of to maintain the total
        // "length" of the line... As such, the "in-line" copy here needs to go
        // away.
        .class--place--above, .class--place--below {
          display: none;
        }
      }
      .class--place--above, .class--place--below {
        visibility: hidden;
      }
    }
    & > div.super-magic {
      position: absolute;
      top: -($line_height_double / 3);
      left: 0;
      z-index: 1;
      .class--place--above {
        visibility: visible;
      }
      visibility: hidden;
      .mod, .seg {
        // XXX: These elements are copied to the end of to maintain the total
        // "length" of the line... As such, the "in-line" copy here needs to go
        // away.
        .class--place--inline, .class--place--below {
          display: none;
        }
      }
    }
    & > div.sub-magic {
      top:  $line_height_double / 3;
      left: 0;
      position: absolute;
      z-index: 1;
      .class--place--below {
        visibility: visible;
      }
      visibility: hidden;
      .mod, .seg {
        // XXX: These elements are copied to the end of to maintain the total
        // "length" of the line... As such, the "in-line" copy here needs to go
        // away.
        .class--place--inline, .class--place--above {
          display: none;
        }
      }
    }

    * {
      visibility: inherit;
    }
  }

  .byline {
    display: block;
    text-indent: $indent;
    font-style: italic;
    margin-bottom: 0.5em;
  }

  // Text styles and alignment.
  .class--rend--bold {
    font-weight: bold;
  }
  .class--rend--italic {
    font-style: italic;
  }
  .class--rend--underline {
    text-decoration: underline;
  }
  .class--rend--center {
    text-align: center;
  }
  .class--rend--right {
    text-align: right;
  }
  .class--rend--left {
    text-align: left;
  }
  .class--rend--small-caps {
    font-variant: small-caps;
  }
  .class--rend--strikethrough {
    text-decoration: line-through;
    color: $grey;
  }
  .class--rend--superscript {
    vertical-align: super;
    font-size: smaller;
  }
  .class--rend--subscript {
    vertical-align: sub;
    font-size: smaller;
  }

  // Quotations.
  q.class--style--single {
    &:before, &:after {
      content: $single_quote;
    }
  }
  q:not(.class--style--single) {
    &:before, &:after {
      content: $double_quote;
    }
  }

  .unclear, .damage {
    color: $grey;

    &.class--rend--illegible,
    &.class--rend--inaudible,
    &.class--reason--illegible,
    &.class--reason--inaudible {
      &:before {
        content: "<";
      }
      &:after {
        content: ">";
      }
    }
  }

  .head {
    font-size: larger;
  }
  .label {
    @extend .head;
    margin-top: .5em;
    text-indent: 0;
  }

  .hi {
    background-color: $highlight;
  }

  @mixin indent($amount) {
    display: block;
    text-indent: $indent * $amount;
  }

  // Indentation.
  .class--rend--no-indent,
  .class--rend--no_indent {
    @include indent(0);
  }
  .class--rend--indent1 {
    @include indent(1);
  }
  .class--rend--indent2 {
    @include indent(2);
  }
  .class--rend--indent3 {
    @include indent(3);
  }
  .class--rend--indent4 {
    @include indent(4);
  }
  .listBibl {
    .bibl {
      padding-left: $indent;
      text-indent: -$indent;
    }
  }

  .list {
    list-style-position: inside;

    &.class--type--ordered {
      list-style-type: decimal;
    }
    &.class--type--bulleted {
      list-style-type: disc;
    }
  }

  ul.lg.class--type--stanza > li {
    text-indent: $indent;
  }

  @mixin margin_base($direction) {
    $margin_padding: 0.1;
    $margin_width: ($margin * 100%) / (100% - (2 * $margin));
    $margin_offset: -$margin_width * (1 - (1 * $margin_padding));

    @if $direction == left {
      margin-left: $margin_offset;
    } @elseif $direction == right {
      margin-right: $margin_offset;
    }

    float: $direction;
    clear: $direction;
    text-indent: 0;
    width: $margin_width * (1 - (2 * $margin_padding));
    word-wrap: break-word;
  }
  .class--place--left_margin {
    @include margin_base(left);
  }
  .class--place--right_margin {
    @include margin_base(right);
  }

  *:not(dt) > a.note.class--place--footnote {
    vertical-align: super;
    font-size: smaller;
  }

  footer {
    border-top: thin solid black;
    margin-top: 1em;
    padding-top: 1em;
    dl {
      dt {
        float: left;
        clear: left;
      }
      dd {
        margin-left: $indent;
        text-indent: -$indent;
        float: left;
        &:before {
          content: ":";
          padding-right: .5 * $indent;
        }
      }
    }
  }

  ul .item {
    display: list-item;
  }
  
  .transcription{
    .seg.class--rend--undone {color: black;}
    .abbr { display: inline; }
    .anchor { display: none; }
    .argument { display: block; margin-bottom: 0.5em; }
    .att { display: inline; font-family: sans-serif; color: blue; background-color: inherit; }
    .att:before { content: "@"; }
    .author { display: inline; }
    .back { display: block; border: thin solid black; margin-top: 1em; padding: 0.5em; }
    .bibl { display: inline; }
    .bibl > .note { display: inline; }
    .bibl > .title[type="subtitle"] { content: ""; }
    .argument > .bibl, .body > .bibl, .cit > .bibl > .bibl, .div0 > .bibl, .div1 > .bibl, .div2 > .bibl, .div3 > .bibl, .div4 > .bibl, .div5 > .bibl, .div6 > .bibl, .div7 > .bibl, > .bibl, .listBibl > .bibl > .bibl, .taxonomy > .bibl { display: block; margin-bottom: 0.5em; }
    .biblFull { display: inline; }
    .argument > .biblFull, .body > .biblFull, .cit > .biblFull > .biblFull, .div0 > .biblFull, .div1 > .biblFull, .div2 > .biblFull, .div3 > .biblFull, .div4 > .biblFull, .div5 > .biblFull, .div6 > .biblFull, .div7 > .biblFull, > .biblFull, .listBibl > .biblFull > .biblFull, .taxonomy > .biblFull { display: block; margin-bottom: 0.5em; }
    .biblScope { display: inline; }
    .imprint > .biblScope { display: block; }
    .body { margin-top: 5px; padding: 0px 2em 0px 0px; display: block; counter-reset: div1; }
    .category { display: block; margin-bottom: 1em; }
    .catRef { display: none; }
    .cell { display: table-cell; border: 1px solid rgb(238, 239, 238); padding: 3px; color: inherit; background-color: inherit; }
    .cell[role="label"] { color: inherit; background-color: rgb(187, 187, 187); }
    .change { display: block; margin-bottom: 1em; margin-left: 2em; }
    .cit { display: inline; }
    .argument > .cit, .body > .cit > .cit, .div0 > .cit, .div1 > .cit, .div2 > .cit, .div3 > .cit, .div4 > .cit, .div5 > .cit, .div6 > .cit, .div7 > .cit, > .cit { display: block; margin-bottom: 0.5em; margin-top: 0.5em; }
    .classCode { display: block; }
    .elementSpec, .macroSpec, .classSpec { display: block; margin-bottom: 1em; }
    .closer { display: block; margin-bottom: 1em; width: 95%; }
    .code { display: inline; font-family: monospace; }
    .corr { display: inline; color: green; background-color: inherit; }
    .creation { display: block; }
    .date { display: inline; }
    .change > .date, .publicationStmt > .date { display: block; font-weight: bold; }
    .dateline { display: inline; }
    .distributor { display: block; margin-bottom: 0.5em; }
    .body > .div { display: block; counter-increment: div1; counter-reset: div2; margin: 0px 0px 1.5em; }
    .body > .div > .div { display: block; margin-bottom: 1em; counter-increment: div2; counter-reset: div3; }
    .body > .div > .div > .div { display: block; margin-bottom: 1em; counter-increment: div3; }
    .body > .div[type="letter"] { margin-bottom: 2em ! important; }
    .div[type="poem"] { counter-reset: line; }
    .div1 { display: block; margin-bottom: 1em; counter-increment: div1; counter-reset: div2; }
    .div2 { display: block; margin-bottom: 1em; counter-increment: div2; counter-reset: div3; }
    .div3 { display: block; margin-bottom: 1em; counter-increment: div3; counter-reset: div4; }
    .div4 { display: block; margin-bottom: 1em; counter-increment: div4; counter-reset: div5; }
    .div5 { display: block; margin-bottom: 1em; counter-increment: div5; counter-reset: div6; }
    .div6 { display: block; margin-bottom: 1em; counter-increment: div6; counter-reset: div7; }
    .div7 { display: block; margin-bottom: 1em; counter-increment: div7; }
    .divGen { display: none; }
    .docAuthor { display: block; margin-bottom: 0.5em; }
    .titlePage .docAuthor { }
    .titlePage .docTitle { }
    .edition { display: block; margin-bottom: 0.5em; }
    .bibl .edition { display: inline; }
    .editionStmt { display: block; margin-bottom: 1em; }
    .editor { display: block; }
    .bibl .editor { display: inline; }
    .eg { font-family: monospace; padding-top: 3mm; padding-left: 4pt; padding-bottom: 2pt; display: block; margin-top: 12pt; margin-bottom: 12pt; white-space: pre; color: inherit; background-color: rgb(255, 204, 153); }
    .argument > .eg, .body > .eg, .div > .eg, .div0 > .eg, .div1 > .eg, .div2 > .eg, .div3 > .eg, .div4 > .eg, .div5 > .eg, .div6 > .eg, .div7 > .eg, > .eg { display: block; margin-bottom: 1em; }
    .emph { display: inline; font-style: italic; }
    .extent { display: block; margin-bottom: 1em; }
    .bibl .extent { display: inline; }
    .graphic { color: gray; background-color: inherit; content: "{" attr(url) "}"; }
    .figure { display: block; margin-bottom: 1em; }
    .foreign { display: inline; font-style: italic; }
    .formula { display: inline; font-style: italic; }
    .front { display: block; margin-bottom: 1em; padding: 0.5em; }
    .funder { display: block; margin-bottom: 0.5em; }
    .gap { display: none; }
    .gap:after { content: "[...]"; font-style: italic; }
    .gi, .tag { display: inline; font-family: sans-serif; color: blue; background-color: inherit; }
    .tag:before, .gi:before { content: "<"; }
    .tag:after, .gi:after { content: ">"; }
    .gloss { display: inline; }
    .group { display: block; margin-bottom: 1em; }
    .body > .div > .head { display: block; padding-top: 7px; padding-bottom: 10px; color: inherit; font-weight: bold; margin-top: 1em;}
    .body > .div[type="poem"] > .head .author { font-weight: normal; }
    .body > .div > .div > .head { display: block; padding-bottom: 10px; padding-left: 10px; color: inherit; background-color: rgb(187, 187, 187); font-weight: bold; margin-bottom: 0.5em; margin-top: 11px; }
    .body > .div > .div > .div > .head { display: block; padding-top: 14px; padding-bottom: 10px; padding-left: 10px; color: inherit; background-color: rgb(187, 187, 187); font-weight: bold; margin-bottom: 0.5em; margin-top: 1em; }
    .div .opener .dateline { display: block; text-align: right; width: 95%; }
    .div1 > .head:before { color: black; background-color: inherit; }
    .div2 > .head:before { color: black; background-color: inherit; }
    .div3 > .head:before { color: black; background-color: inherit; }
    .body > .div > .head:before { color: black; background-color: inherit; }
    .body > .div > .div > .head:before { color: black; background-color: inherit; }
    .body > .div > .div > .div > .head:before { color: black; background-color: inherit; }
    .hi { display: inline;}
    .hi[rend] { background-color: inherit; color: inherit; }
    .hi[rend="bold"] { display: inline; font-weight: bold; }
    .hi[rend="italic"] { display: inline; font-style: italic; }
    .hi[rend="underline"] { display: inline; text-decoration: underline; }
    .hi[rend="it"] { display: inline; font-style: italic; }
    .hi[rend="sc"] { display: inline; font-variant: small-caps; }
    .hi[rend="sup"] { display: inline; vertical-align: super; font-size: smaller; }
    .hi[rend="sub"] { display: inline; vertical-align: sub; font-size: smaller; }
    .hi[rend="ul"] { display: inline; text-decoration: underline; }
    .ident { display: inline; font-family: monospace; }
    .idno { display: block; margin-bottom: 1em; }
    .bibl .idno { display: inline; }
    .imprint { display: inline; }
    .index { display: none; }
    .interp { display: none; }
    .interpGrp { display: none; }
    .list[type="gloss"] .item { display: block; margin-left: 1em; }
    .list .item { display: list-item; margin-left: 12pt; }
    .item { display: list-item; margin-left: 12pt; }
    .item[n]:before { content: attr(n) ". "; list-style: none outside none; }
    .change .item { display: block; margin-bottom: 0.5em; margin-left: 1em; margin-top: 0.5em; }
    .keywords { display: block; margin-bottom: 0.5em; }
    .kw { display: inline; font-style: italic; }
    .Label { display: inline; font-weight: bold; color: rgb(47, 79, 79); background-color: inherit; }
    .argument > .body > .div > .div0 > .div1 > .div2 > .div3 > .div4 > .div5 > .div6 > .div7 > { display: block; font-weight: bold; }
    .langUsage { display: block; margin-bottom: 1em; }
    .lb { display: block; }
    .lg { display: block; margin-bottom: 0.5em; }
    .list { display: block; list-style-type: disc; margin-bottom: 1em; margin-left: 2em; margin-top: 1em; }
    .list[rend="runon"] { display: inline; }
    .list[type="bulleted"] { list-style-type: disc; list-style-position: outside; }
    .list[type="unordered"] { list-style-type: disc; list-style-position: outside; }
    .list[type="ordered"] { list-style-type: decimal; list-style-position: outside; }
    .list[type="numbered"] { list-style-type: decimal; list-style-position: outside; }
    .list[type="none"] { list-style-type: none; }
    .listBibl { display: block; margin-bottom: 0.5em; }
    .mentioned { display: inline; font-style: italic; }
    .milestone { display: none; }
    .name { display: inline; }
    .note { display: block; color: rgb(153, 153, 153); }
    .note:before { content: "note: "; font-variant: small-caps; }
    .note[type]:before { content: attr(type) ": "; }
    .opener .note { display: block; color: rgb(153, 153, 153); }
    .opener .note:before { content: ""; font-variant: normal; }
    .opener .note[type]:before { content: ""; }
    .note[n]:before { content: attr(n) " "; vertical-align: super; }
    .div .note .persName, .div .note .orgName, .div .note .title, .div .note .placeName { color: rgb(109, 176, 204) ! important; }
    .note[place="left"] { float: left; }
    .note[place="right"] { float: right; }
    .note[place="inline"], .note[place="unspecified"] { display: inline; }
    .notesStmt { display: block; }
    .num { display: inline; }
    .opener { display: block; margin-bottom: 0.5em; }
    .opener .p { text-align: justify ! important; text-indent: 0px ! important; }
    .orig { display: inline; }
    .p { display: block; margin-bottom: 0.5em; }
    .pb { display: none; }
    .pb:after { content: attr(n); font-weight: bold; margin-bottom: 1em; margin-top: 1em; text-align: center; }
    .div .persName, .div .placeName, .div .orgName, .div .title { color: rgb(51, 102, 153); }
    .principal { display: block; margin-bottom: 0.5em; }
    .ptr { color: navy; text-decoration: underline; background-color: inherit; }
    .ptr:before { background-color: inherit; color: red; content: "[" attr(target) "]"; }
    .publicationStmt { }
    .publicationStmt .p { display: block; margin-bottom: 0px; }
    .publisher { display: inline; }
    .imprint > .publisher, .publicationStmt > .publisher { display: block; margin-bottom: 0.5em; }
    .pubPlace { display: inline; }
    .imprint > .pubPlace, .publicationStmt > .pubPlace { display: block; margin-bottom: 0.5em; }
    .q { display: inline; quotes: "\"" "\"" "\'" "\'"; margin: 0em; }
    .q[rend="display"], .argument > .q, .body > .q, .cit > .q, .div > .q, .div0 > .q, .div1 > .q, .div2 > .q, .div3 > .q, .div4 > .q, .div5 > .q, .div6 > .q, .div7 > .q > .q { display: block; margin-bottom: 0.5em; margin-left: 3em; margin-right: 3em; quotes: none; }
    .q:before { content: open-quote; }
    .q:after { content: close-quote; }
    .quote { display: inline; quotes: "\"" "\"" "\'" "\'"; margin: 0em; }
    .quote[rend="display"], .argument > .quote, .body > .quote, .cit > .quote, .div > .quote, .div0 > .quote, .div1 > .quote, .div2 > .quote, .div3 > .quote, .div4 > .quote, .div5 > .quote, .div6 > .quote, .div7 > .quote > .quote { display: block; margin-bottom: 0.5em; margin-left: 3em; margin-right: 3em; quotes: none; }
    .quote:before { content: open-quote; }
    .quote:after { content: close-quote; }
    .ref { display: inline; color: blue; background-color: inherit; }
    .ref:before { color: gray; background-color: inherit; text-decoration: underline; }
    .reg { display: inline; font-style: italic; }
    .rendition { display: block; margin-bottom: 0.5em; }
    .resp { display: block; }
    .respStmt { display: block; margin-left: 1em; }
    .respStmt > .name:before { content: attr(role) ": "; display: block ! important; font-variant: small-caps; }
    .bibl .respStmt { display: inline; }
    .rdg:before { background-color: inherit; content: "[" attr(wit)  "]"; color: red; }
    .row { display: table-row; }
    .row[role="label"] { color: inherit; background-color: rgb(187, 187, 187); }
    .rs { display: inline; }
    .s { display: inline; }
    .salute { display: block; margin-bottom: 0.5em; margin-top: 1em; }
    .samplingDecl { display: block; margin-bottom: 1em; }
    .seriesStmt { display: block; margin-bottom: 1em; }
    .sic { display: inline; color: red; background-color: inherit; }
    .sic:after { content: " [sic]"; }
    .signed { display: block; text-align: right; }
    .soCalled { display: inline; font-style: italic; quotes: "\'" "\'"; }
    .soCalled:before { content: open-quote; }
    .soCalled:after { content: close-quote; }
    .sp { display: block; margin-bottom: 0.5em; margin-left: 2em; }
    .div .p { text-align: justify; text-indent: 30px; }
    .speaker { display: inline; font-weight: bold; }
    .sponsor { display: block; margin-bottom: 0.5em; }
    .stage { display: inline; font-style: italic; }
    .table { text-align: center; display: table; margin: 1em; }
    .table > .head { display: table-caption; font-style: italic; margin-bottom: 6pt; }
    .tagUsage { display: block; margin-bottom: 0.5em; }
    .taxonomy { display: block; margin-bottom: 0.5em; }
    .term { font-family: sans-serif; color: blue; background-color: inherit; display: inline; }
    .textClass { display: block; margin-bottom: 0.5em; }
    .time { display: inline; }
    .title { display: inline; }
    .title[type="subtitle"] { display: block; font-weight: normal; }
    .title[level="m"], .title[level="j"] { font-style: italic; }
    .title[level="s"] { font-style: normal; }
    .title[level="a"], .title[level="u"] { font-style: normal; }
    .title[level="a:before"], .title[level="u:before"] { content: open-quote; }
    .title[level="a:after"], .title[level="u:after"] { content: close-quote; }
    .seriesStmt > .title, .titleStmt > .title { color: green; font-weight: bold; }
    .titlePage { display: block; border: thin solid black; margin-bottom: 2em; text-align: center; padding: 1em; }
    .titlePart { display: block; }
    .titleStmt { margin-bottom: 1em; color: rgb(51, 51, 51); }
    .trailer { display: block; margin-bottom: 1em; }
    .teiHeader { display: block; color: gray; background-color: rgb(251, 242, 234); padding: 0.5em; }
    .teiHeader .author:before { font-variant: small-caps; content: "author: "; }
    .teiHeader .editor:before { font-variant: small-caps; content: "editor: "; }
    .teiHeader .title { color: gray; }
    .titleStmt > .author { display: block; margin-left: 1em; }
    .authority { display: block; margin-bottom: 0.5em; }
    .availability { display: block; margin-bottom: 0.5em; }
    .fileDesc { }
    .sourceDesc { }
    .sourceDesc .p { margin: 0px; }
    .revisionDesc { display: block; margin-bottom: 1em; }
    .catDesc { display: block; margin-bottom: 0.5em; }
    .encodingDesc { display: block; margin-bottom: 1em; }
    .profileDesc { display: block; margin-bottom: 1em; }
    .projectDesc { display: block; margin-bottom: 1em; }
    .docDate { display: block; margin-bottom: 0.5em; }
    .docImprint .docDate { display: inline; }
    .docEdition { display: block; margin-bottom: 0.5em; }
    .docImprint { display: block; margin-bottom: 0.5em; }
    .docTitle { display: block; margin-bottom: 0.5em; font-weight: bold; }
  }
  &.reading {
    @extend .transcription;
  }
  &:not(.reading) {
    @extend .transcription;
    .add { display: inline; color: green; background-color: inherit; text-decoration: underline; }
    .del { display: inline; color: red; background-color: inherit; text-decoration: line-through; }
    .l { display: block; white-space: nowrap; }
    .l:after { content: counter(line, decimal); counter-increment: line; text-align: right; float: right; color: silver; margin-right: 50px; }
  }
}
