/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * @file
 * Sass partial to handle TEI display.
 */
/* line 28, ../sass/_tei.scss */
.tei {
  /**
   * Base styles for various TEI elements shared between both Diplomatic / Reading Transcriptions.
   *
   * This has largely been lifted from the CWRC-Writer.
   */
  margin: 15%;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  color: black;
}
/* line 17, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei html, .tei body, .tei div, .tei span, .tei applet, .tei object, .tei iframe,
.tei h1, .tei h2, .tei h3, .tei h4, .tei h5, .tei h6, .tei p, .tei blockquote, .tei pre,
.tei a, .tei abbr, .tei acronym, .tei address, .tei big, .tei cite, .tei code,
.tei del, .tei dfn, .tei em, .tei img, .tei ins, .tei kbd, .tei q, .tei s, .tei samp,
.tei small, .tei strike, .tei strong, .tei sub, .tei sup, .tei tt, .tei var,
.tei b, .tei u, .tei i, .tei center,
.tei dl, .tei dt, .tei dd, .tei ol, .tei ul, .tei li,
.tei fieldset, .tei form, .tei label, .tei legend,
.tei table, .tei caption, .tei tbody, .tei tfoot, .tei thead, .tei tr, .tei th, .tei td,
.tei article, .tei aside, .tei canvas, .tei details, .tei embed,
.tei figure, .tei figcaption, .tei footer, .tei header, .tei hgroup,
.tei menu, .tei nav, .tei output, .tei ruby, .tei section, .tei summary,
.tei time, .tei mark, .tei audio, .tei video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei html {
  line-height: 1;
}
/* line 24, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei ol, .tei ul {
  list-style: none;
}
/* line 26, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei caption, .tei th, .tei td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei q, .tei blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei q:before, .tei q:after, .tei blockquote:before, .tei blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei a img {
  border: none;
}
/* line 116, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.tei article, .tei aside, .tei details, .tei figcaption, .tei figure, .tei footer, .tei header, .tei hgroup, .tei menu, .tei nav, .tei section, .tei summary {
  display: block;
}
/* line 7, ../sass/_tei_elements.scss */
.tei .abbr {
  display: inline;
}
/* line 11, ../sass/_tei_elements.scss */
.tei .anchor {
  display: none;
}
/* line 15, ../sass/_tei_elements.scss */
.tei .argument {
  display: block;
  margin-bottom: 0.5em;
}
/* line 20, ../sass/_tei_elements.scss */
.tei .att {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
/* line 27, ../sass/_tei_elements.scss */
.tei .att:before {
  content: "@";
}
/* line 31, ../sass/_tei_elements.scss */
.tei .author {
  display: inline;
}
/* line 35, ../sass/_tei_elements.scss */
.tei .back {
  display: block;
  border: thin solid black;
  margin-top: 1em;
  padding: 0.5em;
}
/* line 42, ../sass/_tei_elements.scss */
.tei .bibl {
  display: inline;
}
/* line 46, ../sass/_tei_elements.scss */
.tei .bibl > .note {
  display: inline;
}
/* line 50, ../sass/_tei_elements.scss */
.tei .bibl > .title.class--type--subtitle {
  content: "";
}
/* line 54, ../sass/_tei_elements.scss */
.tei .argument > .bibl, .tei .body > .bibl, .tei .cit > .bibl > .bibl, .tei .div0 > .bibl, .tei .div1 > .bibl, .tei .div2 > .bibl, .tei .div3 > .bibl, .tei .div4 > .bibl, .tei .div5 > .bibl, .tei .div6 > .bibl, .tei .div7 > .bibl, .tei > .bibl, .tei .listBibl > .bibl > .bibl, .tei .taxonomy > .bibl {
  display: block;
  margin-bottom: 0.5em;
}
/* line 59, ../sass/_tei_elements.scss */
.tei .biblFull {
  display: inline;
}
/* line 63, ../sass/_tei_elements.scss */
.tei .argument > .biblFull, .tei .body > .biblFull, .tei .cit > .biblFull > .biblFull, .tei .div0 > .biblFull, .tei .div1 > .biblFull, .tei .div2 > .biblFull, .tei .div3 > .biblFull, .tei .div4 > .biblFull, .tei .div5 > .biblFull, .tei .div6 > .biblFull, .tei .div7 > .biblFull, .tei > .biblFull, .tei .listBibl > .biblFull > .biblFull, .tei .taxonomy > .biblFull {
  display: block;
  margin-bottom: 0.5em;
}
/* line 68, ../sass/_tei_elements.scss */
.tei .biblScope {
  display: inline;
}
/* line 72, ../sass/_tei_elements.scss */
.tei .imprint > .biblScope {
  display: block;
}
/* line 76, ../sass/_tei_elements.scss */
.tei .body {
  margin-top: 5px;
  padding: 0px 2em 0px 0px;
  display: block;
  counter-reset: div1;
}
/* line 83, ../sass/_tei_elements.scss */
.tei .category {
  display: block;
  margin-bottom: 1em;
}
/* line 88, ../sass/_tei_elements.scss */
.tei .catRef {
  display: none;
}
/* line 92, ../sass/_tei_elements.scss */
.tei .cell {
  display: table-cell;
  border: 1px solid #eeefee;
  padding: 3px;
  color: inherit;
  background-color: inherit;
}
/* line 100, ../sass/_tei_elements.scss */
.tei .cell.class--role--label {
  color: inherit;
  background-color: #bbbbbb;
}
/* line 105, ../sass/_tei_elements.scss */
.tei .change {
  display: block;
  margin-bottom: 1em;
  margin-left: 2em;
}
/* line 111, ../sass/_tei_elements.scss */
.tei .cit {
  display: inline;
}
/* line 115, ../sass/_tei_elements.scss */
.tei .argument > .cit, .tei .body > .cit > .cit, .tei .div0 > .cit, .tei .div1 > .cit, .tei .div2 > .cit, .tei .div3 > .cit, .tei .div4 > .cit, .tei .div5 > .cit, .tei .div6 > .cit, .tei .div7 > .cit, .tei > .cit {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* line 121, ../sass/_tei_elements.scss */
.tei .classCode {
  display: block;
}
/* line 125, ../sass/_tei_elements.scss */
.tei .elementSpec, .tei .macroSpec, .tei .classSpec {
  display: block;
  margin-bottom: 1em;
}
/* line 130, ../sass/_tei_elements.scss */
.tei .closer {
  display: block;
  margin-bottom: 1em;
  width: 95%;
}
/* line 136, ../sass/_tei_elements.scss */
.tei .code {
  display: inline;
  font-family: monospace;
}
/* line 141, ../sass/_tei_elements.scss */
.tei .corr {
  display: inline;
  color: green;
  background-color: inherit;
}
/* line 147, ../sass/_tei_elements.scss */
.tei .creation {
  display: block;
}
/* line 151, ../sass/_tei_elements.scss */
.tei .date {
  display: inline;
}
/* line 155, ../sass/_tei_elements.scss */
.tei .change > .date, .tei .publicationStmt > .date {
  display: block;
  font-weight: bold;
}
/* line 160, ../sass/_tei_elements.scss */
.tei .dateline {
  display: inline;
}
/* line 164, ../sass/_tei_elements.scss */
.tei .distributor {
  display: block;
  margin-bottom: 0.5em;
}
/* line 169, ../sass/_tei_elements.scss */
.tei .body > .div {
  display: block;
  counter-increment: div1;
  counter-reset: div2;
  margin: 0px 0px 1.5em;
}
/* line 176, ../sass/_tei_elements.scss */
.tei .body > .div > .div {
  display: block;
  margin-bottom: 1em;
  counter-increment: div2;
  counter-reset: div3;
}
/* line 183, ../sass/_tei_elements.scss */
.tei .body > .div > .div > .div {
  display: block;
  margin-bottom: 1em;
  counter-increment: div3;
}
/* line 189, ../sass/_tei_elements.scss */
.tei .body > .div.class--type--letter {
  margin-bottom: 2em !important;
}
/* line 193, ../sass/_tei_elements.scss */
.tei .div.class--type--poem {
  counter-reset: line;
}
/* line 197, ../sass/_tei_elements.scss */
.tei .div1 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div1;
  counter-reset: div2;
}
/* line 204, ../sass/_tei_elements.scss */
.tei .div2 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div2;
  counter-reset: div3;
}
/* line 211, ../sass/_tei_elements.scss */
.tei .div3 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div3;
  counter-reset: div4;
}
/* line 218, ../sass/_tei_elements.scss */
.tei .div4 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div4;
  counter-reset: div5;
}
/* line 225, ../sass/_tei_elements.scss */
.tei .div5 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div5;
  counter-reset: div6;
}
/* line 232, ../sass/_tei_elements.scss */
.tei .div6 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div6;
  counter-reset: div7;
}
/* line 239, ../sass/_tei_elements.scss */
.tei .div7 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div7;
}
/* line 245, ../sass/_tei_elements.scss */
.tei .divGen {
  display: none;
}
/* line 249, ../sass/_tei_elements.scss */
.tei .docAuthor {
  display: block;
  margin-bottom: 0.5em;
}
/* line 260, ../sass/_tei_elements.scss */
.tei .edition {
  display: block;
  margin-bottom: 0.5em;
}
/* line 265, ../sass/_tei_elements.scss */
.tei .bibl .edition {
  display: inline;
}
/* line 269, ../sass/_tei_elements.scss */
.tei .editionStmt {
  display: block;
  margin-bottom: 1em;
}
/* line 274, ../sass/_tei_elements.scss */
.tei .editor {
  display: block;
}
/* line 278, ../sass/_tei_elements.scss */
.tei .bibl .editor {
  display: inline;
}
/* line 282, ../sass/_tei_elements.scss */
.tei .eg {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #ffcc99;
}
/* line 295, ../sass/_tei_elements.scss */
.tei .argument > .eg, .tei .body > .eg, .tei .div > .eg, .tei .div0 > .eg, .tei .div1 > .eg, .tei .div2 > .eg, .tei .div3 > .eg, .tei .div4 > .eg, .tei .div5 > .eg, .tei .div6 > .eg, .tei .div7 > .eg, .tei > .eg {
  display: block;
  margin-bottom: 1em;
}
/* line 300, ../sass/_tei_elements.scss */
.tei .emph {
  display: inline;
}
/* line 304, ../sass/_tei_elements.scss */
.tei .extent {
  display: block;
  margin-bottom: 1em;
}
/* line 309, ../sass/_tei_elements.scss */
.tei .bibl .extent {
  display: inline;
}
/* line 313, ../sass/_tei_elements.scss */
.tei .graphic {
  color: gray;
  background-color: inherit;
  content: "{" attr(url) "}";
}
/* line 319, ../sass/_tei_elements.scss */
.tei .figure {
  display: block;
  margin-bottom: 1em;
}
/* line 324, ../sass/_tei_elements.scss */
.tei .foreign {
  display: inline;
  font-style: italic;
}
/* line 329, ../sass/_tei_elements.scss */
.tei .formula {
  display: inline;
  font-style: italic;
}
/* line 334, ../sass/_tei_elements.scss */
.tei .front {
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
}
/* line 340, ../sass/_tei_elements.scss */
.tei .funder {
  display: block;
  margin-bottom: 0.5em;
}
/* line 345, ../sass/_tei_elements.scss */
.tei .gap {
  display: none;
}
/* line 349, ../sass/_tei_elements.scss */
.tei .gap:after {
  content: "[...]";
  font-style: italic;
}
/* line 354, ../sass/_tei_elements.scss */
.tei .gi, .tei .tag {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
/* line 361, ../sass/_tei_elements.scss */
.tei .tag:before, .tei .gi:before {
  content: "<";
}
/* line 365, ../sass/_tei_elements.scss */
.tei .tag:after, .tei .gi:after {
  content: ">";
}
/* line 369, ../sass/_tei_elements.scss */
.tei .gloss {
  display: inline;
}
/* line 373, ../sass/_tei_elements.scss */
.tei .group {
  display: block;
  margin-bottom: 1em;
}
/* line 378, ../sass/_tei_elements.scss */
.tei .body > .div.class--type--poem > .head .author {
  font-weight: normal;
}
/* line 382, ../sass/_tei_elements.scss */
.tei .body > .div > .div > .head {
  display: block;
  padding-bottom: 10px;
  padding-left: 10px;
  color: inherit;
  background-color: #bbbbbb;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 11px;
}
/* line 393, ../sass/_tei_elements.scss */
.tei .body > .div > .div > .div > .head {
  display: block;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: inherit;
  background-color: #bbbbbb;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
/* line 405, ../sass/_tei_elements.scss */
.tei .div .opener .dateline {
  display: block;
  text-align: right;
  width: 95%;
}
/* line 411, ../sass/_tei_elements.scss */
.tei .hi {
  display: inline;
}
/* line 415, ../sass/_tei_elements.scss */
.tei .hi.class--rend--it {
  display: inline;
  font-style: italic;
}
/* line 420, ../sass/_tei_elements.scss */
.tei .hi.class--rend--sc {
  display: inline;
  font-variant: small-caps;
}
/* line 425, ../sass/_tei_elements.scss */
.tei .hi.class--rend--sup {
  display: inline;
  vertical-align: super;
  font-size: smaller;
}
/* line 431, ../sass/_tei_elements.scss */
.tei .hi.class--rend--sub {
  display: inline;
  vertical-align: sub;
  font-size: smaller;
}
/* line 437, ../sass/_tei_elements.scss */
.tei .hi.class--rend--ul {
  display: inline;
  text-decoration: underline;
}
/* line 442, ../sass/_tei_elements.scss */
.tei .ident {
  display: inline;
  font-family: monospace;
}
/* line 447, ../sass/_tei_elements.scss */
.tei .idno {
  display: block;
  margin-bottom: 1em;
}
/* line 452, ../sass/_tei_elements.scss */
.tei .bibl .idno {
  display: inline;
}
/* line 456, ../sass/_tei_elements.scss */
.tei .imprint {
  display: inline;
}
/* line 460, ../sass/_tei_elements.scss */
.tei .index {
  display: none;
}
/* line 464, ../sass/_tei_elements.scss */
.tei .interp {
  display: none;
}
/* line 468, ../sass/_tei_elements.scss */
.tei .interpGrp {
  display: none;
}
/* line 472, ../sass/_tei_elements.scss */
.tei .list.class--type--gloss .item {
  display: block;
  margin-left: 1em;
}
/* line 477, ../sass/_tei_elements.scss */
.tei .list .item {
  display: list-item;
  margin-left: 12pt;
}
/* line 482, ../sass/_tei_elements.scss */
.tei .item {
  display: list-item;
  margin-left: 12pt;
}
/* line 487, ../sass/_tei_elements.scss */
.tei .item.class--n:before {
  content: attr(n) ". ";
  list-style: none outside none;
}
/* line 492, ../sass/_tei_elements.scss */
.tei .change .item {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}
/* line 499, ../sass/_tei_elements.scss */
.tei .keywords {
  display: block;
  margin-bottom: 0.5em;
}
/* line 504, ../sass/_tei_elements.scss */
.tei .kw {
  display: inline;
  font-style: italic;
}
/* line 509, ../sass/_tei_elements.scss */
.tei .Label {
  display: inline;
  font-weight: bold;
  color: darkslategrey;
  background-color: inherit;
}
/* line 516, ../sass/_tei_elements.scss */
.tei .argument > .body > .div > .div0 > .div1 > .div2 > .div3 > .div4 > .div5 > .div6 > .div7 > {
  display: block;
  font-weight: bold;
}
/* line 521, ../sass/_tei_elements.scss */
.tei .langUsage {
  display: block;
  margin-bottom: 1em;
}
/* line 526, ../sass/_tei_elements.scss */
.tei .lb {
  display: block;
}
/* line 530, ../sass/_tei_elements.scss */
.tei .lg {
  counter-reset: line;
  display: block;
  margin-bottom: 0.5em;
}
/* line 536, ../sass/_tei_elements.scss */
.tei .l {
  display: block;
  white-space: nowrap;
}
/* line 541, ../sass/_tei_elements.scss */
.tei .list {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
}
/* line 549, ../sass/_tei_elements.scss */
.tei .list.class--rend--runon {
  display: inline;
}
/* line 553, ../sass/_tei_elements.scss */
.tei .listBibl {
  display: block;
  margin-bottom: 0.5em;
}
/* line 558, ../sass/_tei_elements.scss */
.tei .mentioned {
  display: inline;
  font-style: italic;
}
/* line 563, ../sass/_tei_elements.scss */
.tei .milestone {
  display: none;
}
/* line 567, ../sass/_tei_elements.scss */
.tei .name {
  display: inline;
}
/* line 571, ../sass/_tei_elements.scss */
.tei .note {
  display: block;
  color: #999999;
}
/* line 576, ../sass/_tei_elements.scss */
.tei .note:before {
  content: "note: ";
  font-variant: small-caps;
}
/* line 581, ../sass/_tei_elements.scss */
.tei .note[data-type]:before {
  content: attr(data-type) ": ";
}
/* line 585, ../sass/_tei_elements.scss */
.tei .opener .note {
  display: block;
  color: #999999;
}
/* line 590, ../sass/_tei_elements.scss */
.tei .opener .note:before {
  content: "";
  font-variant: normal;
}
/* line 595, ../sass/_tei_elements.scss */
.tei .opener .note.class--type:before {
  content: "";
}
/* line 599, ../sass/_tei_elements.scss */
.tei .note.class--n:before {
  content: attr(n) " ";
  vertical-align: super;
}
/* line 604, ../sass/_tei_elements.scss */
.tei .div .note .persName, .tei .div .note .orgName, .tei .div .note .title, .tei .div .note .placeName {
  color: #6db0cc !important;
}
/* line 608, ../sass/_tei_elements.scss */
.tei .notesStmt {
  display: block;
}
/* line 612, ../sass/_tei_elements.scss */
.tei .num {
  display: inline;
}
/* line 616, ../sass/_tei_elements.scss */
.tei .opener {
  display: block;
  margin-bottom: 0.5em;
}
/* line 621, ../sass/_tei_elements.scss */
.tei .opener .p {
  text-align: justify !important;
}
/* line 625, ../sass/_tei_elements.scss */
.tei .orig {
  display: inline;
}
/* line 629, ../sass/_tei_elements.scss */
.tei .p {
  display: block;
  margin-bottom: 0.5em;
}
/* line 634, ../sass/_tei_elements.scss */
.tei .pb {
  display: none;
}
/* line 638, ../sass/_tei_elements.scss */
.tei .pb:after {
  content: attr(n);
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
/* line 646, ../sass/_tei_elements.scss */
.tei .div .persName, .tei .div .placeName, .tei .div .orgName, .tei .div .title {
  color: #336699;
}
/* line 650, ../sass/_tei_elements.scss */
.tei .principal {
  display: block;
  margin-bottom: 0.5em;
}
/* line 655, ../sass/_tei_elements.scss */
.tei .ptr {
  color: navy;
  text-decoration: underline;
  background-color: inherit;
}
/* line 661, ../sass/_tei_elements.scss */
.tei .ptr:before {
  background-color: inherit;
  color: red;
  content: "[" attr(target) "]";
}
/* line 670, ../sass/_tei_elements.scss */
.tei .publicationStmt .p {
  display: block;
  margin-bottom: 0px;
}
/* line 675, ../sass/_tei_elements.scss */
.tei .publisher {
  display: inline;
}
/* line 679, ../sass/_tei_elements.scss */
.tei .imprint > .publisher, .tei .publicationStmt > .publisher {
  display: block;
  margin-bottom: 0.5em;
}
/* line 684, ../sass/_tei_elements.scss */
.tei .pubPlace {
  display: inline;
}
/* line 688, ../sass/_tei_elements.scss */
.tei .imprint > .pubPlace, .tei .publicationStmt > .pubPlace {
  display: block;
  margin-bottom: 0.5em;
}
/* line 693, ../sass/_tei_elements.scss */
.tei .q {
  display: inline;
  quotes: "\"" "\"" "\'" "\'";
  margin: 0em;
}
/* line 699, ../sass/_tei_elements.scss */
.tei .q.class--rend--display, .tei .argument > .q, .tei .body > .q, .tei .cit > .q, .tei .div > .q, .tei .div0 > .q, .tei .div1 > .q, .tei .div2 > .q, .tei .div3 > .q, .tei .div4 > .q, .tei .div5 > .q, .tei .div6 > .q, .tei .div7 > .q > .q {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  quotes: none;
}
/* line 707, ../sass/_tei_elements.scss */
.tei .quote {
  display: inline;
  quotes: "\"" "\"" "\'" "\'";
  margin: 0em;
}
/* line 713, ../sass/_tei_elements.scss */
.tei .quote.class--rend--display, .tei .argument > .quote, .tei .body > .quote, .tei .cit > .quote, .tei .div > .quote, .tei .div0 > .quote, .tei .div1 > .quote, .tei .div2 > .quote, .tei .div3 > .quote, .tei .div4 > .quote, .tei .div5 > .quote, .tei .div6 > .quote, .tei .div7 > .quote > .quote {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  quotes: none;
}
/* line 721, ../sass/_tei_elements.scss */
.tei .ref {
  display: inline;
  color: blue;
  background-color: inherit;
}
/* line 727, ../sass/_tei_elements.scss */
.tei .ref:before {
  color: gray;
  background-color: inherit;
  text-decoration: underline;
}
/* line 733, ../sass/_tei_elements.scss */
.tei .reg {
  display: inline;
  font-style: italic;
}
/* line 738, ../sass/_tei_elements.scss */
.tei .rendition {
  display: block;
  margin-bottom: 0.5em;
}
/* line 743, ../sass/_tei_elements.scss */
.tei .resp {
  display: block;
}
/* line 747, ../sass/_tei_elements.scss */
.tei .respStmt {
  display: block;
  margin-left: 1em;
}
/* line 752, ../sass/_tei_elements.scss */
.tei .respStmt > .name:before {
  content: attr(role) ": ";
  display: block !important;
  font-variant: small-caps;
}
/* line 758, ../sass/_tei_elements.scss */
.tei .bibl .respStmt {
  display: inline;
}
/* line 762, ../sass/_tei_elements.scss */
.tei .rdg:before {
  background-color: inherit;
  content: "[" attr(wit) "]";
  color: red;
}
/* line 768, ../sass/_tei_elements.scss */
.tei .row {
  display: table-row;
}
/* line 772, ../sass/_tei_elements.scss */
.tei .row.class--role--label {
  color: inherit;
  background-color: #bbbbbb;
}
/* line 777, ../sass/_tei_elements.scss */
.tei .rs {
  display: inline;
}
/* line 781, ../sass/_tei_elements.scss */
.tei .s {
  display: inline;
}
/* line 785, ../sass/_tei_elements.scss */
.tei .salute {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
/* line 791, ../sass/_tei_elements.scss */
.tei .samplingDecl {
  display: block;
  margin-bottom: 1em;
}
/* line 796, ../sass/_tei_elements.scss */
.tei .seriesStmt {
  display: block;
  margin-bottom: 1em;
}
/* line 801, ../sass/_tei_elements.scss */
.tei .sic {
  display: inline;
  color: red;
  background-color: inherit;
}
/* line 807, ../sass/_tei_elements.scss */
.tei .sic:after {
  content: " [sic]";
}
/* line 811, ../sass/_tei_elements.scss */
.tei .signed {
  display: block;
  text-align: right;
}
/* line 816, ../sass/_tei_elements.scss */
.tei .soCalled {
  display: inline;
  font-style: italic;
  quotes: "\'" "\'";
}
/* line 822, ../sass/_tei_elements.scss */
.tei .soCalled:before {
  content: open-quote;
}
/* line 826, ../sass/_tei_elements.scss */
.tei .soCalled:after {
  content: close-quote;
}
/* line 830, ../sass/_tei_elements.scss */
.tei .sp {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
/* line 836, ../sass/_tei_elements.scss */
.tei .div .p {
  text-align: justify;
}
/* line 840, ../sass/_tei_elements.scss */
.tei .speaker {
  display: inline;
}
/* line 844, ../sass/_tei_elements.scss */
.tei .sponsor {
  display: block;
  margin-bottom: 0.5em;
}
/* line 849, ../sass/_tei_elements.scss */
.tei .stage {
  display: inline;
}
/* line 853, ../sass/_tei_elements.scss */
.tei .table {
  text-align: center;
  display: table;
  margin: 1em;
}
/* line 859, ../sass/_tei_elements.scss */
.tei .table > .head {
  display: table-caption;
  font-style: italic;
  margin-bottom: 6pt;
}
/* line 865, ../sass/_tei_elements.scss */
.tei .tagUsage {
  display: block;
  margin-bottom: 0.5em;
}
/* line 870, ../sass/_tei_elements.scss */
.tei .taxonomy {
  display: block;
  margin-bottom: 0.5em;
}
/* line 875, ../sass/_tei_elements.scss */
.tei .term {
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
  display: inline;
}
/* line 882, ../sass/_tei_elements.scss */
.tei .textClass {
  display: block;
  margin-bottom: 0.5em;
}
/* line 887, ../sass/_tei_elements.scss */
.tei .time {
  display: inline;
}
/* line 891, ../sass/_tei_elements.scss */
.tei .title {
  display: inline;
}
/* line 895, ../sass/_tei_elements.scss */
.tei .title.class--type--subtitle {
  display: block;
  font-weight: normal;
}
/* line 900, ../sass/_tei_elements.scss */
.tei .title.class--level--m, .tei .title.class--level--j {
  font-style: italic;
}
/* line 904, ../sass/_tei_elements.scss */
.tei .title.class--level--s {
  font-style: normal;
}
/* line 908, ../sass/_tei_elements.scss */
.tei .title.class--level--a, .tei .title.class--level--u {
  font-style: normal;
}
/* line 912, ../sass/_tei_elements.scss */
.tei .title.class--level--a:before, .tei .title.class--level--u:before {
  content: open-quote;
}
/* line 916, ../sass/_tei_elements.scss */
.tei .title.class--level--a:after, .tei .title.class--level--u:after {
  content: close-quote;
}
/* line 920, ../sass/_tei_elements.scss */
.tei .seriesStmt > .title, .tei .titleStmt > .title {
  color: green;
  font-weight: bold;
}
/* line 925, ../sass/_tei_elements.scss */
.tei .titlePage {
  display: block;
  border: thin solid black;
  margin-bottom: 2em;
  text-align: center;
  padding: 1em;
}
/* line 933, ../sass/_tei_elements.scss */
.tei .titlePart {
  display: block;
}
/* line 937, ../sass/_tei_elements.scss */
.tei .titleStmt {
  margin-bottom: 1em;
  color: #333333;
}
/* line 942, ../sass/_tei_elements.scss */
.tei .trailer {
  display: block;
  margin-bottom: 1em;
}
/* line 947, ../sass/_tei_elements.scss */
.tei .teiHeader {
  display: block;
  color: gray;
  background-color: #fbf2ea;
  padding: 0.5em;
}
/* line 954, ../sass/_tei_elements.scss */
.tei .teiHeader .author:before {
  font-variant: small-caps;
  content: "author: ";
}
/* line 959, ../sass/_tei_elements.scss */
.tei .teiHeader .editor:before {
  font-variant: small-caps;
  content: "editor: ";
}
/* line 964, ../sass/_tei_elements.scss */
.tei .teiHeader .title {
  color: gray;
}
/* line 968, ../sass/_tei_elements.scss */
.tei .titleStmt > .author {
  display: block;
  margin-left: 1em;
}
/* line 973, ../sass/_tei_elements.scss */
.tei .authority {
  display: block;
  margin-bottom: 0.5em;
}
/* line 978, ../sass/_tei_elements.scss */
.tei .availability {
  display: block;
  margin-bottom: 0.5em;
}
/* line 989, ../sass/_tei_elements.scss */
.tei .sourceDesc .p {
  margin: 0px;
}
/* line 993, ../sass/_tei_elements.scss */
.tei .revisionDesc {
  display: block;
  margin-bottom: 1em;
}
/* line 998, ../sass/_tei_elements.scss */
.tei .catDesc {
  display: block;
  margin-bottom: 0.5em;
}
/* line 1003, ../sass/_tei_elements.scss */
.tei .encodingDesc {
  display: block;
  margin-bottom: 1em;
}
/* line 1008, ../sass/_tei_elements.scss */
.tei .profileDesc {
  display: block;
  margin-bottom: 1em;
}
/* line 1013, ../sass/_tei_elements.scss */
.tei .projectDesc {
  display: block;
  margin-bottom: 1em;
}
/* line 1018, ../sass/_tei_elements.scss */
.tei .docDate {
  display: block;
  margin-bottom: 0.5em;
}
/* line 1023, ../sass/_tei_elements.scss */
.tei .docImprint .docDate {
  display: inline;
}
/* line 1027, ../sass/_tei_elements.scss */
.tei .docEdition {
  display: block;
  margin-bottom: 0.5em;
}
/* line 1032, ../sass/_tei_elements.scss */
.tei .docImprint {
  display: block;
  margin-bottom: 0.5em;
}
/* line 1037, ../sass/_tei_elements.scss */
.tei .docTitle {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 38, ../sass/_tei.scss */
.tei .p, .tei p.epigraph {
  text-indent: 0.5in;
}
/* line 42, ../sass/_tei.scss */
.tei > div {
  position: relative;
  line-height: 1.2em;
  margin-right: auto;
  margin-left: auto;
}
/* line 48, ../sass/_tei.scss */
.tei > div > div.line-magic {
  position: relative;
  z-index: 2;
  top: 0;
}
/* line 56, ../sass/_tei.scss */
.tei > div > div.line-magic .mod .class--place--above, .tei > div > div.line-magic .mod .class--place--below, .tei > div > div.line-magic .seg .class--place--above, .tei > div > div.line-magic .seg .class--place--below {
  display: none;
}
/* line 60, ../sass/_tei.scss */
.tei > div > div.line-magic .class--place--above, .tei > div > div.line-magic .class--place--below {
  visibility: hidden;
}
/* line 64, ../sass/_tei.scss */
.tei > div > div.super-magic {
  position: absolute;
  top: -1em;
  left: 0;
  z-index: 1;
  visibility: hidden;
}
/* line 69, ../sass/_tei.scss */
.tei > div > div.super-magic .class--place--above {
  visibility: visible;
}
/* line 77, ../sass/_tei.scss */
.tei > div > div.super-magic .mod .class--place--inline, .tei > div > div.super-magic .mod .class--place--below, .tei > div > div.super-magic .seg .class--place--inline, .tei > div > div.super-magic .seg .class--place--below {
  display: none;
}
/* line 82, ../sass/_tei.scss */
.tei > div > div.sub-magic {
  top: 1em;
  left: 0;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}
/* line 87, ../sass/_tei.scss */
.tei > div > div.sub-magic .class--place--below {
  visibility: visible;
}
/* line 95, ../sass/_tei.scss */
.tei > div > div.sub-magic .mod .class--place--inline, .tei > div > div.sub-magic .mod .class--place--above, .tei > div > div.sub-magic .seg .class--place--inline, .tei > div > div.sub-magic .seg .class--place--above {
  display: none;
}
/* line 101, ../sass/_tei.scss */
.tei > div * {
  visibility: inherit;
}
/* line 107, ../sass/_tei.scss */
.tei .class--rend--bold {
  font-weight: bold;
}
/* line 110, ../sass/_tei.scss */
.tei .class--rend--italic {
  font-style: italic;
}
/* line 113, ../sass/_tei.scss */
.tei .class--rend--underline {
  text-decoration: underline;
}
/* line 116, ../sass/_tei.scss */
.tei .class--rend--center {
  text-align: center;
}
/* line 119, ../sass/_tei.scss */
.tei .class--rend--right {
  text-align: right;
}
/* line 122, ../sass/_tei.scss */
.tei .class--rend--left {
  text-align: left;
}
/* line 125, ../sass/_tei.scss */
.tei .class--rend--small-caps {
  font-variant: small-caps;
}
/* line 128, ../sass/_tei.scss */
.tei .class--rend--strikethrough {
  text-decoration: line-through;
  color: #7f7f7f;
}
/* line 132, ../sass/_tei.scss */
.tei .class--rend--superscript {
  vertical-align: super;
  font-size: smaller;
}
/* line 136, ../sass/_tei.scss */
.tei .class--rend--subscript {
  vertical-align: sub;
  font-size: smaller;
}
/* line 143, ../sass/_tei.scss */
.tei q.class--style--single:before, .tei q.class--style--single:after {
  content: "'";
}
/* line 148, ../sass/_tei.scss */
.tei q:not(.class--style--single):before, .tei q:not(.class--style--single):after {
  content: '"';
}
/* line 153, ../sass/_tei.scss */
.tei .unclear, .tei .damage {
  color: #7f7f7f;
}
/* line 160, ../sass/_tei.scss */
.tei .unclear.class--rend--illegible:before, .tei .unclear.class--rend--inaudible:before, .tei .unclear.class--reason--illegible:before, .tei .unclear.class--reason--inaudible:before, .tei .damage.class--rend--illegible:before, .tei .damage.class--rend--inaudible:before, .tei .damage.class--reason--illegible:before, .tei .damage.class--reason--inaudible:before {
  content: "<";
}
/* line 163, ../sass/_tei.scss */
.tei .unclear.class--rend--illegible:after, .tei .unclear.class--rend--inaudible:after, .tei .unclear.class--reason--illegible:after, .tei .unclear.class--reason--inaudible:after, .tei .damage.class--rend--illegible:after, .tei .damage.class--rend--inaudible:after, .tei .damage.class--reason--illegible:after, .tei .damage.class--reason--inaudible:after {
  content: ">";
}
/* line 169, ../sass/_tei.scss */
.tei .label {
  font-size: larger;
  margin-top: .5em;
  text-indent: 0;
}
/* line 175, ../sass/_tei.scss */
.tei .hi {
  background-color: yellow;
}
/* line 186, ../sass/_tei.scss */
.tei .class--rend--no-indent,
.tei .class--rend--no_indent {
  display: block;
  text-indent: 0in;
}
/* line 189, ../sass/_tei.scss */
.tei .class--rend--indent1 {
  display: block;
  text-indent: 0.5in;
}
/* line 192, ../sass/_tei.scss */
.tei .class--rend--indent2 {
  display: block;
  text-indent: 1in;
}
/* line 195, ../sass/_tei.scss */
.tei .class--rend--indent3 {
  display: block;
  text-indent: 1.5in;
}
/* line 198, ../sass/_tei.scss */
.tei .class--rend--indent4 {
  display: block;
  text-indent: 2in;
}
/* line 202, ../sass/_tei.scss */
.tei .listBibl .bibl {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
/* line 208, ../sass/_tei.scss */
.tei .list {
  list-style-position: inside;
}
/* line 211, ../sass/_tei.scss */
.tei .list.class--type--ordered {
  list-style-type: decimal;
}
/* line 214, ../sass/_tei.scss */
.tei .list.class--type--bulleted {
  list-style-type: disc;
}
/* line 217, ../sass/_tei.scss */
.tei .list.class--type--simple {
  list-style-type: none;
}
/* line 222, ../sass/_tei.scss */
.tei ul.lg.class--type--stanza > li {
  text-indent: 0.5in;
}
/* line 243, ../sass/_tei.scss */
.tei .class--place--left_margin {
  margin-left: -19.28571%;
  float: left;
  clear: left;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 246, ../sass/_tei.scss */
.tei .class--place--right_margin {
  margin-right: -19.28571%;
  float: right;
  clear: right;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 249, ../sass/_tei.scss */
.tei .zone.class--type--left_margin {
  margin-left: -19.28571%;
  float: left;
  clear: left;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 252, ../sass/_tei.scss */
.tei .zone.class--type--right_margin {
  margin-right: -19.28571%;
  float: right;
  clear: right;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 256, ../sass/_tei.scss */
.tei *:not(dt) > a.note.class--place--footnote {
  vertical-align: super;
  font-size: smaller;
}
/* line 261, ../sass/_tei.scss */
.tei footer {
  border-top: thin solid black;
  margin-top: 1em;
  padding-top: 1em;
}
/* line 266, ../sass/_tei.scss */
.tei footer dl dt {
  float: left;
  clear: left;
}
/* line 270, ../sass/_tei.scss */
.tei footer dl dd {
  margin-left: 0.5in;
  text-indent: -0.5in;
  float: left;
}
/* line 274, ../sass/_tei.scss */
.tei footer dl dd:before {
  content: ":";
  padding-right: 0.25in;
}
/* line 282, ../sass/_tei.scss */
.tei ul .item {
  display: list-item;
}
/* line 286, ../sass/_tei.scss */
.tei.reading {
  /* Only hide inline notes, footnotes are still displayed */
}
/* line 287, ../sass/_tei.scss */
.tei.reading .seg.class--rend--undone, .tei.reading .corr, .tei.reading .reg {
  color: black;
  font-style: normal;
}
/* line 292, ../sass/_tei.scss */
.tei.reading div.note {
  display: none;
}
/* line 295, ../sass/_tei.scss */
.tei.reading .line {
  display: block;
}
/* line 298, ../sass/_tei.scss */
.tei.reading .textimagelink {
  border-color: #7F00FF;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 303, ../sass/_tei.scss */
.tei.reading .persName {
  border-color: #FF0000;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 308, ../sass/_tei.scss */
.tei.reading .placeName {
  border-color: #009999;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 313, ../sass/_tei.scss */
.tei.reading .title {
  border-color: #debb00;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 318, ../sass/_tei.scss */
.tei.reading .orgName {
  border-color: #3914AF;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 323, ../sass/_tei.scss */
.tei.reading .v-viewer-textimagelink {
  border-width: 2px;
}
/* line 326, ../sass/_tei.scss */
.tei.reading .v-viewer-person {
  border-width: 2px;
}
/* line 329, ../sass/_tei.scss */
.tei.reading .v-viewer-place {
  border-width: 2px;
}
/* line 332, ../sass/_tei.scss */
.tei.reading .v-viewer-organization {
  border-width: 2px;
}
/* line 335, ../sass/_tei.scss */
.tei.reading .v-viewer-title {
  border-width: 2px;
}
/* line 341, ../sass/_tei.scss */
.tei:not(.reading) .seg.class--rend--undone {
  color: green;
}
/* line 345, ../sass/_tei.scss */
.tei:not(.reading) .subst:before {
  content: "(";
  color: slategrey;
}
/* line 349, ../sass/_tei.scss */
.tei:not(.reading) .subst:after {
  content: ")";
  color: slategrey;
}
/* line 354, ../sass/_tei.scss */
.tei:not(.reading) .line {
  display: block;
}
/* line 357, ../sass/_tei.scss */
.tei:not(.reading) .add {
  display: inline;
  color: green;
  text-decoration: underline;
}
/* line 362, ../sass/_tei.scss */
.tei:not(.reading) .del {
  display: inline;
  color: red;
  text-decoration: line-through;
}
/* line 367, ../sass/_tei.scss */
.tei:not(.reading) .textimagelink {
  border-color: #7F00FF;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 372, ../sass/_tei.scss */
.tei:not(.reading) .persName {
  border-color: #FF0000;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 377, ../sass/_tei.scss */
.tei:not(.reading) .placeName {
  border-color: #009999;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 382, ../sass/_tei.scss */
.tei:not(.reading) .title {
  border-color: #debb00;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 387, ../sass/_tei.scss */
.tei:not(.reading) .orgName {
  border-color: #3914AF;
  border-width: 1px;
  border-bottom-style: dotted;
}
/* line 392, ../sass/_tei.scss */
.tei:not(.reading) .v-viewer-textimagelink {
  border-width: 2px;
}
/* line 395, ../sass/_tei.scss */
.tei:not(.reading) .v-viewer-person {
  border-width: 2px;
}
/* line 398, ../sass/_tei.scss */
.tei:not(.reading) .v-viewer-place {
  border-width: 2px;
}
/* line 401, ../sass/_tei.scss */
.tei:not(.reading) .v-viewer-organization {
  border-width: 2px;
}
/* line 404, ../sass/_tei.scss */
.tei:not(.reading) .v-viewer-title {
  border-width: 2px;
}
