/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/tei.scss */
.tei {
  margin: 25%;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  color: black;
}
/* line 13, ../sass/tei.scss */
.tei .p {
  text-indent: 0.5in;
}
/* line 18, ../sass/tei.scss */
.tei .class--rend--bold {
  font-weight: bold;
}
/* line 21, ../sass/tei.scss */
.tei .class--rend--italic {
  font-style: italic;
}
/* line 24, ../sass/tei.scss */
.tei .class--rend--underline {
  text-decoration: underline;
}
/* line 27, ../sass/tei.scss */
.tei .class--rend--center {
  text-align: center;
}
/* line 30, ../sass/tei.scss */
.tei .class--rend--right {
  text-align: right;
}
/* line 33, ../sass/tei.scss */
.tei .class--rend--left {
  text-align: left;
}
/* line 36, ../sass/tei.scss */
.tei .class--rend--small-caps {
  font-variant: small-caps;
}
/* line 39, ../sass/tei.scss */
.tei .class--rend--strikethrough {
  text-decoration: line-through;
  color: #7f7f7f;
}
/* line 43, ../sass/tei.scss */
.tei .class--rend--superscript {
  vertical-align: super;
  font-size: smaller;
}
/* line 47, ../sass/tei.scss */
.tei .class--rend--subscript {
  vertical-align: sub;
  font-size: smaller;
}
/* line 51, ../sass/tei.scss */
.tei .class--place--sublinear {
  vertical-align: -100%;
}
/* line 54, ../sass/tei.scss */
.tei .class--place--superlinear {
  vertical-align: 100%;
}
/* line 60, ../sass/tei.scss */
.tei q.class--style--single:before, .tei q.class--style--single:after {
  content: "'";
}
/* line 65, ../sass/tei.scss */
.tei q:not(.class--style--single):before, .tei q:not(.class--style--single):after {
  content: '"';
}
/* line 70, ../sass/tei.scss */
.tei .unclear, .tei .damage {
  color: #7f7f7f;
}
/* line 77, ../sass/tei.scss */
.tei .unclear.class--rend--illegible:before, .tei .unclear.class--rend--inaudible:before, .tei .unclear.class--reason--illegible:before, .tei .unclear.class--reason--inaudible:before, .tei .damage.class--rend--illegible:before, .tei .damage.class--rend--inaudible:before, .tei .damage.class--reason--illegible:before, .tei .damage.class--reason--inaudible:before {
  content: "<";
}
/* line 80, ../sass/tei.scss */
.tei .unclear.class--rend--illegible:after, .tei .unclear.class--rend--inaudible:after, .tei .unclear.class--reason--illegible:after, .tei .unclear.class--reason--inaudible:after, .tei .damage.class--rend--illegible:after, .tei .damage.class--rend--inaudible:after, .tei .damage.class--reason--illegible:after, .tei .damage.class--reason--inaudible:after {
  content: ">";
}
/* line 86, ../sass/tei.scss */
.tei .head, .tei .label {
  font-size: larger;
}
/* line 89, ../sass/tei.scss */
.tei .label {
  margin-top: .5em;
  text-indent: 0;
}
/* line 95, ../sass/tei.scss */
.tei .hi {
  background-color: yellow;
}
/* line 100, ../sass/tei.scss */
.tei .class--rend--no-indent,
.tei .class--rend--no_indent {
  text-indent: 0in;
}
/* line 104, ../sass/tei.scss */
.tei .class--rend--indent1 {
  text-indent: 0.5in;
}
/* line 107, ../sass/tei.scss */
.tei .class--rend--indent2 {
  text-indent: 1in;
}
/* line 110, ../sass/tei.scss */
.tei .class--rend--indent3 {
  text-indent: 1.5in;
}
/* line 113, ../sass/tei.scss */
.tei .class--rend--indent4 {
  text-indent: 2in;
}
/* line 117, ../sass/tei.scss */
.tei .listBibl .bibl {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
/* line 123, ../sass/tei.scss */
.tei .list {
  list-style-position: inside;
}
/* line 126, ../sass/tei.scss */
.tei .list.class--type--ordered {
  list-style-type: decimal;
}
/* line 129, ../sass/tei.scss */
.tei .list.class--type--bulleted {
  list-style-type: disc;
}
/* line 134, ../sass/tei.scss */
.tei ul.lg.class--type--stanza > li {
  text-indent: 0.5in;
}
/* line 138, ../sass/tei.scss */
.tei .class--place--left_margin {
  text-indent: 0;
  float: left;
  clear: left;
  margin-left: -45%;
  width: 40%;
  word-wrap: break-word;
}
/* line 146, ../sass/tei.scss */
.tei .class--place--right_margin {
  text-indent: 0;
  float: right;
  clear: right;
  margin-right: -45%;
  width: 40%;
  word-wrap: break-word;
}
/* line 155, ../sass/tei.scss */
.tei *:not(dt) > a.note.class--place--footnote {
  vertical-align: super;
  font-size: smaller;
}
/* line 160, ../sass/tei.scss */
.tei footer {
  border-top: thin solid black;
  margin-top: 1em;
  padding-top: 1em;
}
/* line 165, ../sass/tei.scss */
.tei footer dl dt {
  float: left;
  clear: left;
}
/* line 169, ../sass/tei.scss */
.tei footer dl dd {
  margin-left: 0.5in;
  text-indent: -0.5in;
  float: left;
}
/* line 173, ../sass/tei.scss */
.tei footer dl dd:before {
  content: ":";
  padding-right: 0.25in;
}
