/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * @file
 * Sass partial to handle TEI display.
 */
/* line 26, ../sass/_tei.scss */
.tei {
  margin: 15%;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  color: black;
}
/* line 5, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei html, .tei body, .tei div, .tei span, .tei applet, .tei object, .tei iframe,
.tei h1, .tei h2, .tei h3, .tei h4, .tei h5, .tei h6, .tei p, .tei blockquote, .tei pre,
.tei a, .tei abbr, .tei acronym, .tei address, .tei big, .tei cite, .tei code,
.tei del, .tei dfn, .tei em, .tei img, .tei ins, .tei kbd, .tei q, .tei s, .tei samp,
.tei small, .tei strike, .tei strong, .tei sub, .tei sup, .tei tt, .tei var,
.tei b, .tei u, .tei i, .tei center,
.tei dl, .tei dt, .tei dd, .tei ol, .tei ul, .tei li,
.tei fieldset, .tei form, .tei label, .tei legend,
.tei table, .tei caption, .tei tbody, .tei tfoot, .tei thead, .tei tr, .tei th, .tei td,
.tei article, .tei aside, .tei canvas, .tei details, .tei embed,
.tei figure, .tei figcaption, .tei footer, .tei header, .tei hgroup,
.tei menu, .tei nav, .tei output, .tei ruby, .tei section, .tei summary,
.tei time, .tei mark, .tei audio, .tei video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei html {
  line-height: 1;
}
/* line 24, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei ol, .tei ul {
  list-style: none;
}
/* line 26, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei caption, .tei th, .tei td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei q, .tei blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei q:before, .tei q:after, .tei blockquote:before, .tei blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei a img {
  border: none;
}
/* line 116, ../../../../../../../../../../../opt/ruby/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
.tei article, .tei aside, .tei details, .tei figcaption, .tei figure, .tei footer, .tei header, .tei hgroup, .tei main, .tei menu, .tei nav, .tei section, .tei summary {
  display: block;
}
/* line 34, ../sass/_tei.scss */
.tei .p, .tei p.epigraph {
  text-indent: 0.5in;
}
/* line 38, ../sass/_tei.scss */
.tei > div {
  position: relative;
  line-height: 3em;
  margin-right: auto;
  margin-left: auto;
}
/* line 44, ../sass/_tei.scss */
.tei > div > div.line-magic {
  position: relative;
  z-index: 2;
  top: 0;
}
/* line 54, ../sass/_tei.scss */
.tei > div > div.line-magic .mod .class--place--superlinear, .tei > div > div.line-magic .mod .class--place--sublinear, .tei > div > div.line-magic .seg .class--place--superlinear, .tei > div > div.line-magic .seg .class--place--sublinear {
  display: none;
}
/* line 58, ../sass/_tei.scss */
.tei > div > div.line-magic .class--place--superlinear, .tei > div > div.line-magic .class--place--sublinear {
  visibility: hidden;
}
/* line 62, ../sass/_tei.scss */
.tei > div > div.super-magic {
  position: absolute;
  top: -1em;
  left: 0;
  z-index: 1;
}
/* line 67, ../sass/_tei.scss */
.tei > div > div.super-magic * {
  visibility: hidden;
}
/* line 70, ../sass/_tei.scss */
.tei > div > div.super-magic .class--place--superlinear {
  visibility: visible;
}
/* line 74, ../sass/_tei.scss */
.tei > div > div.sub-magic {
  top: 1em;
  left: 0;
  position: absolute;
  z-index: 1;
}
/* line 79, ../sass/_tei.scss */
.tei > div > div.sub-magic * {
  visibility: hidden;
}
/* line 82, ../sass/_tei.scss */
.tei > div > div.sub-magic .class--place--sublinear {
  visibility: visible;
}
/* line 88, ../sass/_tei.scss */
.tei .byline {
  display: block;
  text-indent: 0.5in;
  font-style: italic;
  margin-bottom: 0.5em;
}
/* line 96, ../sass/_tei.scss */
.tei .class--rend--bold {
  font-weight: bold;
}
/* line 99, ../sass/_tei.scss */
.tei .class--rend--italic {
  font-style: italic;
}
/* line 102, ../sass/_tei.scss */
.tei .class--rend--underline {
  text-decoration: underline;
}
/* line 105, ../sass/_tei.scss */
.tei .class--rend--center {
  text-align: center;
}
/* line 108, ../sass/_tei.scss */
.tei .class--rend--right {
  text-align: right;
}
/* line 111, ../sass/_tei.scss */
.tei .class--rend--left {
  text-align: left;
}
/* line 114, ../sass/_tei.scss */
.tei .class--rend--small-caps {
  font-variant: small-caps;
}
/* line 117, ../sass/_tei.scss */
.tei .class--rend--strikethrough {
  text-decoration: line-through;
  color: #7f7f7f;
}
/* line 121, ../sass/_tei.scss */
.tei .class--rend--superscript {
  vertical-align: super;
  font-size: smaller;
}
/* line 125, ../sass/_tei.scss */
.tei .class--rend--subscript {
  vertical-align: sub;
  font-size: smaller;
}
/* line 132, ../sass/_tei.scss */
.tei q.class--style--single:before, .tei q.class--style--single:after {
  content: "'";
}
/* line 137, ../sass/_tei.scss */
.tei q:not(.class--style--single):before, .tei q:not(.class--style--single):after {
  content: '"';
}
/* line 142, ../sass/_tei.scss */
.tei .unclear, .tei .damage {
  color: #7f7f7f;
}
/* line 149, ../sass/_tei.scss */
.tei .unclear.class--rend--illegible:before, .tei .unclear.class--rend--inaudible:before, .tei .unclear.class--reason--illegible:before, .tei .unclear.class--reason--inaudible:before, .tei .damage.class--rend--illegible:before, .tei .damage.class--rend--inaudible:before, .tei .damage.class--reason--illegible:before, .tei .damage.class--reason--inaudible:before {
  content: "<";
}
/* line 152, ../sass/_tei.scss */
.tei .unclear.class--rend--illegible:after, .tei .unclear.class--rend--inaudible:after, .tei .unclear.class--reason--illegible:after, .tei .unclear.class--reason--inaudible:after, .tei .damage.class--rend--illegible:after, .tei .damage.class--rend--inaudible:after, .tei .damage.class--reason--illegible:after, .tei .damage.class--reason--inaudible:after {
  content: ">";
}
/* line 158, ../sass/_tei.scss */
.tei .head, .tei .label {
  font-size: larger;
}
/* line 161, ../sass/_tei.scss */
.tei .label {
  margin-top: .5em;
  text-indent: 0;
}
/* line 167, ../sass/_tei.scss */
.tei .hi {
  background-color: yellow;
}
/* line 177, ../sass/_tei.scss */
.tei .class--rend--no-indent,
.tei .class--rend--no_indent {
  display: block;
  text-indent: 0in;
}
/* line 181, ../sass/_tei.scss */
.tei .class--rend--indent1 {
  display: block;
  text-indent: 0.5in;
}
/* line 184, ../sass/_tei.scss */
.tei .class--rend--indent2 {
  display: block;
  text-indent: 1in;
}
/* line 187, ../sass/_tei.scss */
.tei .class--rend--indent3 {
  display: block;
  text-indent: 1.5in;
}
/* line 190, ../sass/_tei.scss */
.tei .class--rend--indent4 {
  display: block;
  text-indent: 2in;
}
/* line 194, ../sass/_tei.scss */
.tei .listBibl .bibl {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
/* line 200, ../sass/_tei.scss */
.tei .list {
  list-style-position: inside;
}
/* line 203, ../sass/_tei.scss */
.tei .list.class--type--ordered {
  list-style-type: decimal;
}
/* line 206, ../sass/_tei.scss */
.tei .list.class--type--bulleted {
  list-style-type: disc;
}
/* line 211, ../sass/_tei.scss */
.tei ul.lg.class--type--stanza > li {
  text-indent: 0.5in;
}
/* line 232, ../sass/_tei.scss */
.tei .class--place--left_margin {
  margin-left: -19.28571%;
  float: left;
  clear: left;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 235, ../sass/_tei.scss */
.tei .class--place--right_margin {
  margin-right: -19.28571%;
  float: right;
  clear: right;
  text-indent: 0;
  width: 17.14286%;
  word-wrap: break-word;
}
/* line 239, ../sass/_tei.scss */
.tei *:not(dt) > a.note.class--place--footnote {
  vertical-align: super;
  font-size: smaller;
}
/* line 244, ../sass/_tei.scss */
.tei footer {
  border-top: thin solid black;
  margin-top: 1em;
  padding-top: 1em;
}
/* line 249, ../sass/_tei.scss */
.tei footer dl dt {
  float: left;
  clear: left;
}
/* line 253, ../sass/_tei.scss */
.tei footer dl dd {
  margin-left: 0.5in;
  text-indent: -0.5in;
  float: left;
}
/* line 257, ../sass/_tei.scss */
.tei footer dl dd:before {
  content: ":";
  padding-right: 0.25in;
}
